{% extends 'body/base.html' %}

{% block title %}
    Welcome to Task Manager
{% endblock %}

{% block content %}
    <div align="center">
        <h1>Welcome</h1>
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
	        <div class="card-header">{{ header }}</div>
	            <div class="card-body">
	                <h5 class="card-title">{{ title }} qestion</h5>
	                <p class="card-text">{{ message }}</p>
                </div>
        </div>
        	{% if latest_question_list %}
    			{% for question in latest_question_list %}
    				<div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
	            		<div class="card-body">
	                		<h5 class="card-title">Qestion</h5>
	                		<p class="card-text"><a href="/qestions/{{ question.id }}/">{{ question.question_text }}</a></p>
                		</div>
        			</div>
	   		 	{% endfor %}
			{% else %}
	    		<p>No polls are available.</p>
			{% endif %}
    	</div>
{% endblock %}